#render{
  margin: 1rem;
}
 #render1{
     width: 100%;    
 }
 #render2{
     width: 100%;
     display:flex !important;
     flex-wrap: wrap !important;
     flex-direction: row !important;
     justify-content: space-evenly  ;
     align-items: center;
     padding: 0 0 0 7rem;
    
 }

#allcards{
    width: 45%;
    margin: 1rem;
    padding: 0;
}
input{
    width: 40%;
    margin: 0 1rem 1rem;
}

h1{
    margin: 1rem;
}

@media  (max-width:600px){
    #render2{
        width: 100%;
        display:flex !important;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        justify-content: space-evenly  ;
        align-items: center;
        padding: 0 0 0 0;
       
    }

}