#cities{
    min-height: 100vh;
}
footer{
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #020202ef;
    color: white;
    margin-top: auto;
}
footer p{
    text-align: center;
}
.Navv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ButtonAppBar{
    border: 0.1rem solid white;
    background-color: white;
    margin: 1rem 1rem;
    padding: 0.3rem 0.3rem;
    width: 90%;
    height: 80%;
    font-style: italic;
}
.Navv h4{
    color: white;
    font-size: 1.4rem;
    text-align: center;
  
}
#icons{
    background-color:black;
}


